.landing-page-body{
    background-image: url ("./img/dungeon.png");
    background-color: rgb(22, 21, 21);;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    text-align: center;
    color: white;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.intro-tale{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
}

button{
    display: block;
    margin: 20px auto;
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: white;
    height: 40px;
    width: 170px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 5px 5px 2.5px rgb(75, 74, 74);
}

.start-game-button{
    display: block;
    margin: 20px auto;
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: white;
    height: 40px;
    width: 170px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 5px 5px 2.5px rgb(75, 74, 74);
}

img{
    height: 400px;
    width: 950px;
    display: block;
    margin: 20px auto;
    position: relative;
}