#board1wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#board1{
    background: grey;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 0px;
    margin: auto;
    position: relative;   
}

img{
    height: 80px;
    width: 80px;
}

.player{
    position: absolute;
    width: 40px;
    height: 40px;
    margin: auto;
}

.tile {
    width: 80px;
    height: 80px;
    border: grey dotted .15px;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    text-align: center;
}

.O{
    background-color: black;  
}

.start{
    background-color: tan;
    border-bottom: 150px green;
}

.exit{
    background-color: black;
    border-top: 20px green;
}

.goblin{
    background-color: rgb(48, 4, 4);
}

.treasure{
    background-color: goldenrod;
}

