body {
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    text-align: center;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    text-align: center;
}

p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 20px;
}

.playerUpdates {
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    line-height: 200%;
    color: black;
    height: 72px;
    width: 500px;
    background-color: greenyellow;
    padding: 10px;
}

.keyWrapper {
    font-family: 'Ubuntu', sans-serif;
    background-color: gray;
    height: 200px;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;

}

#board1wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board1 {
    background: rgb(22, 21, 21);
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    padding: 0px;
    margin: auto;
    position: relative;
    border: greenyellow solid 10px;
}

img {
    height: 50px;
    width: 50px;
}

.player1 {
    position: absolute;
    margin: auto;
}

.tile {
    width: 50px;
    height: 50px;
    outline: grey dotted .15px;
    background-color: rgb(22, 21, 21);
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    text-align: center;
}

.O {}

.start {}

.exit {}

.goblin>img {
    visibility: hidden;
}

.shade {
visibility: hidden;
}

.treasure {
    visibility: visible;
}

.scoreBox {
    background-color: gray;
    height: 200px;
    width: 200px;
    text-align: center;
}

#score {
}

#playGameWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}